[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
djangorestframework = "==3.14.0"
asgiref = "==3.6.0"
django-cors-headers = "==3.14.0"
djangorestframework-simplejwt = "==5.2.2"
pillow = "==9.5.0"
pyjwt = "==1.7.1"
pytz = "==2022.7.1"
sqlparse = "==0.4.3"
tzdata = "==2022.7"
django-filter = "==23.1"
django-rest-framework-nested = "*"
djangorestframework-jwt = "==1.11.0"

[dev-packages]

[requires]
python_version = "3.10"
